* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  position: absolute;
  top: 25px;
  right: 0;
}
.logo {
  width: 150px;
  float: right;
  margin-right: 30px;
}
.quix-logo-app {
  width: 50px;
  height: 50px;
  border-radius: 7px;
}
.quix-logo-name {
  display: flex;
  color: white;
  text-align: start;
  /* border: 1px solid; */
  width: fit-content;
  margin: 0 auto 20px;
}
.info {
  margin-left: 10px;
  line-height: 25px;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: rgb(28, 125, 146);
  background: linear-gradient(
    315deg,
    rgba(28, 125, 146, 1) 0%,
    rgba(148, 42, 147, 0.9920343137254902) 40%,
    rgba(255, 201, 32, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  text-align: center;
  padding: 5px;
}
.phoneApp {
  width: 15em;
  z-index: 1000;
}

.app-image {
  width: 200px;
}

.right-content {
  text-align: center;
}
.title {
  color: white;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .left-content {
    display: none;
  }
}
